@import "tailwindcss";
@import 'tw-animate-css';

/*@custom-variant dark (&:is(.dark *));*/

/**
  * This is a Tailwind CSS configuration file that sets up custom themes,
  * colors, and animations for a web application. It uses the @layer directive
  * to define custom styles and imports Tailwind CSS utilities.
  *
  * Breakpoints:
  * - sm: 40rem (640px)
  * - md: 48rem (768px)
  * - lg: 64rem (1024px)
  * - xl: 80rem (1280px)
  * - 2xl: 96rem (1536px)
  */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-gradient: var(--card-radial-gradient);

  --breakpoint-4xl: 120rem; /* 1920px */
  --breakpoint-5xl: 128rem; /* 2048px */
}

:root {
  --background: #66b3ff;
  --foreground: #000d4d;
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;

  /* gradient circles */
  --radial-gradient-1-1: #4da6ff;
  --radial-gradient-1-2: #3399ff;

  --radial-gradient-2-1: #3399ff;
  --radial-gradient-2-2: #1a75ff;

  --radial-gradient-3-1: #1a75ff;
  --radial-gradient-3-2: #005ce6;

  --radial-gradient-4-1: #1a75ff;
  --radial-gradient-4-2: #0047b3;

  --radial-gradient-5-1: #3385ff;
  --radial-gradient-5-2: #005ce6;

  --radial-gradient-6-1: #3399ff;
  --radial-gradient-6-2: #0066cc;

  --radial-gradient-7-1: #66b3ff;
  --radial-gradient-7-2: #0073e6;

  --radial-gradient-8-1: #66b3ff;
  --radial-gradient-8-2: #0073e6;

  /* Card background gradient */
  --card-radial-gradient: radial-gradient(circle at 100% 0px, rgba(255, 255, 255, 0.85) 0px, rgba(245, 245, 245, 0.13) 183%);
  --card-shadow-color: rgba(0, 0, 0, 0.2);

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000d4d;
    --foreground: #fff;

    --radial-gradient-1-1: #007aff;
    --radial-gradient-1-2: #0051c1;

    --radial-gradient-2-1: #0033a0;
    --radial-gradient-2-2: #001a66;

    --radial-gradient-3-1: #001d89;
    --radial-gradient-3-2: #00124a;

    --radial-gradient-4-1: #001d89;
    --radial-gradient-4-2: #000a40;

    --radial-gradient-5-1: #001a66;
    --radial-gradient-5-2: #00124a;

    --radial-gradient-6-1: #0051c1;
    --radial-gradient-6-2: #001d5c;

    --radial-gradient-7-1: #0040ff;
    --radial-gradient-7-2: #001044;

    --radial-gradient-8-1: #0040ff;
    --radial-gradient-8-2: #001044;

    /* Card background gradient */
    --card-radial-gradient: radial-gradient(circle at 97% 3.3%, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, .6) 164%);
    --card-shadow-color: rgba(0, 0, 0, 0.55);
  }
}

body {
  background-color: var(--background); /* base fallback */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


#background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  background-image: radial-gradient(
    circle at bottom left,
    var(--radial-gradient-1-1) 0%,
    var(--radial-gradient-1-2) 30%,
    transparent 30%,
    transparent 99%
  ),
  radial-gradient(
    circle at bottom left,
    var(--radial-gradient-2-1) 30%,
    var(--radial-gradient-2-2) 35%,
    transparent 35%,
    transparent 99%
  ),
  radial-gradient(
    circle at bottom left,
    var(--radial-gradient-3-1) 35%,
    var(--radial-gradient-3-2) 40%,
    transparent 40%,
    transparent 99%
  ),
  radial-gradient(
    circle at bottom left,
    var(--radial-gradient-4-1) 40%,
    var(--radial-gradient-4-2) 45%,
    transparent 45%,
    transparent 99%
  ),
  radial-gradient(
    circle at center left,
    var(--radial-gradient-5-1) 35%,
    var(--radial-gradient-5-2) 40%,
    transparent 40%,
    transparent 99%
  ),
  radial-gradient(
    circle at bottom right,
    var(--radial-gradient-6-1) 40%,
    var(--radial-gradient-6-2) 65%,
    transparent 65%,
    transparent 99%
  ),
  radial-gradient(
    circle at center right,
    var(--radial-gradient-7-1) 40%,
    var(--radial-gradient-7-2) 70%,
    transparent 70%,
    transparent 99%
  ),
  radial-gradient(
    circle at center left,
    var(--radial-gradient-8-1) 20%,
    var(--radial-gradient-8-2) 60%,
    transparent 60%,
    transparent 99%
  );


  background-repeat: no-repeat;
  background-size: 200% 200%;
}

.bg-card-gradient {
  background: var(--color-gradient);
  box-shadow: 17px 20px 40px 0 var(--card-shadow-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 9999s ease-out, color 9999s ease-out;
}
